<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/template.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/iconfont.css" />
  </head>

  <body onresize="window.width()">
  {% verbatim myblock %}
    <div class="allPage">
      <div class="isLoding">
        <div class="all col-md-12">
          <div class="header_top col-md-10">
            <div class="col-md-1"></div>
            <div class="page-header title col-md-10">
              <h1>Hello<small> 这里是小韦的成绩管理系统</small></h1>
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="nav_top col-md-12">
            <div class="col-md-1"></div>
            <div class="col-md-10 nav_main">
              <ul class="nav nav-pills">
                <li class="active">
                  <a href="/"
                    ><span class="iconfont icon-shouye"></span>首页</a
                  >
                </li>
                <li>
                  <a href="/page1"
                    ><span class="iconfont icon-banji"></span>班级管理</a
                  >
                </li>
                <li>
                  <a href="/page2"
                    ><span class="iconfont icon-paiming1"></span>搜索</a
                  >
                </li>
                <li>
                  <a href="/page3"
                    ><span class="iconfont icon-bangzhu"></span>帮助</a
                  >
                </li>
                <li>
                  <a href="/page4"
                    ><span class="iconfont icon-signin"></span>登录</a
                  >
                </li>
                <li>
                  <a href="/page5">
                      <span class="iconfont icon-zhuce"></span>注册
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endverbatim myblock %}
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/static/js/index.js"></script>
</html>
